.about {
    width: 100%;
    height: auto;
    padding: 120px 0 55px;
    background: linear-gradient(264.28deg,#0f364a -38.2%,#101331 103.12%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h1 {
    width: 800px;
}

.aboutContainer {
    width: 72%;
    height: auto;
    position: relative;
}

.aboutImg2 {
    object-fit: contain;
    position: absolute;
    top: 70px;
    width: 500px;
    animation: strangeHead linear 4s alternate infinite;
}

@keyframes strangeHead {
    0% {
      left: 595px; 
    }
    100% {
      left: 680px; 
    }
}