nav {
    background: #070A29;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.navbarMenu {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarMenu li {
    list-style: none;
    font-family: 'Conthrax';
    font-size: 23px;
    font-weight: 400;
}

.navbarMenu li:hover {
    cursor: pointer;
}

nav a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Conthrax';
    color: #fff;
}

nav a:hover, .active-nav {
    color: #0d6efd;
}